* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html {
  font-size: 62.5%; // setting font-size to 1 rem = 10px
}

body {
  font-size: 1.6rem; // setting font-size to back to 10*1.6 = 16px;
}

a {
  text-decoration: unset;
}

button,
input,
template,
select {
  all: unset;
}

img {
  display: block;
}
