:root {
  --clr-primary: #008dda;
  --clr-secondary: #007799;
  --clr-tertiary: #da0082;
  --clr-tertiary--dark: #99005b;

  --clr-error: #e6008a;
  --clr-info: #dab900;

  --clr-neutral--0: #00111a;
  --clr-neutral--1: #ffffff;

  --clr-neutral--100: #f5fbff;
  --clr-neutral--200: #808080;
  --clr-neutral--300: #808080;
  --clr-neutral--400: #808080;
  --clr-neutral--500: #595959;
  --clr-neutral--600: #595959;
  --clr-neutral--700: #595959;
  --clr-neutral--800: #595959;
  --clr-neutral--900: #595959;
}
